<div class="header">
    <br>
    <h1 style="color: white;">SAMI</h1>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button type="submit" (click)="onHome()" class="btn btn-success">Home</button>
        </li>
        <li class="nav-item">
            <button type="submit" (click)="onHistorial()" class="btn btn-success">Historial de Datos</button>
        </li>
        <li class="nav-item">
            <button type="submit" (click)="onReco()" class="btn btn-success">Recomendaciones de Riego</button>
        </li>
        <li class="nav-item">
            <button type="submit" (click)="onNoticias()" class="btn btn-success">Noticias</button>
        </li>
        <li class="nav-item">
            <button type="submit" (click)="onConfiguracion()" class="btn btn-success">Código Postales</button>
        </li>
    </ul>
</div>

<div class="login-container">
    <div class="glass-container">

        <h3>1. Mantén una Humedad Uniforme</h3>
        <h4>Aunque casi todas las plantas necesitan una humedad uniforme, dejar secar ligeramente antes de volver a
            regarlas,
            favorece el crecimiento de las raíces.</h4>

        <h3>2. Riega Menos Veces Pero Más Profundo</h3>
        <h4>Un riego hondo o por semana es, normalmente, suficiente aunque en general,
            regar cuentas a menudo pero con abundante agua es mejor que muchas veces y poca agua.</h4>

        <h3> 3. Riega al Atardecer, por la Mañana o al Amanecer</h3>
        <h4>La clave es que el suelo esté frío y no se evapore rápidamente el agua en estas horas.
            De este modo ayudamos a que las plantas se abastezcan ellas mismas de humedad y que esta
            perdure durante más horas mientras los calores disminuyen.</h4>

        <h3>4. No Dejes las Hojas Húmedas</h3>
        <h4>Las hojas mojadas se pueden convertir en hogar de hongos. Durante la noche, las pequeñas gotitas generan
            moho y,
            si el sol las quema por la mañana, las hojas se dañarán y se marcarán.</h4>

        <h3>5. Usa la Cantidad de Agua Adecuada</h3>
        <h4>Para que la cantidad de riego sea adecuada, debemos hacer llegar el agua a las raíces.
            Si no regamos suficiente agua, solo se humedece la superficie y las raíces se extienden al suelo en busca de
            agua.
            Por otra parte, si el exceso de agua no tiene buena humedad ambiental o si el riego se hace sobre el
            follaje,
            esta situación es la que más fomenta una humedad que favorece hongos y pudriciones.</h4>


    </div>
</div>