<div class="login-container">
    <br><br><br>
    <div class="glass-container">
        <h1>Temperatura del suelo:</h1>
        <h2>24° C</h2>
        <br>
        <h1>Humedad del suelo:</h1>
        <h2>45% de humedad</h2>
        <br>
        <h1>Estado del suelo:</h1>
        <h2>Excelente</h2>
    </div>
    <div class="glass-container">
        <h1>Clima de Cd. Valles</h1>
        <br>
        <h2>23° C</h2>
        <br>
        <h2>RealFeel 25° C</h2>
        <br>
        <h2>Mayormente nublado</h2>
    </div>
</div>