<br>
<div class="cuadro">
    <div class="cuadro2">
        <a href="https://www.milenio.com/politica/conagua-invertido-110-mil-millones-pesos-proyectos-hidricos"><img
                src="asset/noticia1.png" width="600px"></a>

        <br><br>

        <a href="https://www.milenio.com/estados/urgen-parar-riego-cana-desabasto-agua-norte-veracruz"><img
                src="asset/noticia2.png" width="600px"></a>


    </div>
    <div class="cuadro2">
        <a
            href="https://www.milenio.com/politica/comunidad/nuevo-leon-avanza-modernizacion-del-sistema-de-riego-de-el-chapotal"><img
                src="asset/noticia3.png" width="600px"></a>

        <br><br>

        <a href="https://www.milenio.com/politica/sequia-productores-agricolas-buscar-alternativas-riego"><img
                src="asset/noticia4.png" width="600px"></a>
    </div>
</div>