<div class="login-container">
    <div class="glass-container">
        <div class="form-container">
            <!-- <img src="C:/sitiosweb/Proyectos/SAMI/public/asset/logoplanta.png" style="width: 100px;"> -->
            <h1 style="text-align: center;">SAMI</h1><br>
            <h3>Iniciar sesión</h3>
            <form (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
            </form>
            <br>
            <br>
            <h5 style="color: white;">Registrate aqui para iniciar sesión</h5>
            <button type="submit" (click)="Registro()" class="btn btn-success">Registrate</button>
        </div>
    </div>
</div>