<div class="login-container">

    <div class="glass-container">
        <h2>Configuración del clima en tu localización</h2>
        <h3>Código del País</h3>
        <input type="text" placeholder="Por ejemplo, México (mx), Colombia (co), España (es)"><br><br><br><br>
        <h3>Nombre de la localización</h3>
        <input type="text" placeholder="Por ejemplo, Ciudad Valles, Buenos Aires, Ciudad de México">
        <br><br>
        <button class="btn btn-success">Guardar cambios</button>
    </div>
</div>