<br>
<br>


<div class="cuadro">
    <h3>Tiempo de actualización de la temperatura y humedad</h3>
    <input type="number" min="5" max="60" placeholder="Mínimo 5 minutos, máximo 60 minutos">
    <br><br><br>
    <h3>Ajuste de umbral de alerta</h3>
    <input type="number" placeholder="Temperatura en Celsius">
    <br><br>
    <input type="number" min="10" max="100" placeholder="Humedad en porcentaje, de 10% a 100%">
    <br><br>
    <label><input type="checkbox" checked> Recibir mensajes de alerta</label>
    <br><br>
    <button class="btn btn-success">Guardar cambios</button>
</div>
<div class="cuadro">
    <h2>Configuración de obtención del clima en tu localización</h2><br>
    <h3>Código del País</h3>
    <input type="text" placeholder="Por ejemplo, México (mx), Colombia (co), España (es)"><br><br><br><br>
    <h3>Nombre de la localización</h3>
    <input type="text" placeholder="Por ejemplo, Ciudad Valles, Buenos Aires, Ciudad de México">
    <br><br>
    <button class="btn btn-success">Guardar cambios</button>
</div>

<app-footer></app-footer>